*{
    padding: 0px;
    margin: 0px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    
}
main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background: rgb(127, 255, 180);
}
.ingredientes {
    background: beige;
    width: 30%;
}
.muestra {
    background: #636363;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img {
    width: 20vh;
    height: 20vh;   
}
.container{
    background: rgb(43 43 43);
    width: 100%;
    height: 100vh;
}