*{
    padding: 0px;
    margin: 0px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
background: url("https://media.ambito.com/p/ddeb5fdba575c76821846791e52d95d0/adjuntos/239/imagenes/039/884/0039884582/hamburguesajpg.jpg")center/cover no-repeat;
}
h1 {
    padding: 20px;
    font-size: 57px;
    font-weight: 900;
    letter-spacing: 5px;
    text-align: center;
}
button {
    margin-top: 27vh;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 13px 47px;
    border-radius: 18px;
    border: none;
    font-size: 23px;
    font-weight: 700;
    background: cadetblue;
}
p {
    text-align: center;
    margin-top: 18px;
    color: #8d2121d6;
    font-family: system-ui;
    letter-spacing: 4px;
    font-weight: 500;
}